* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.new_task {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

.new_task > button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.task {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #aaaaaa;
    border: 1px solid black;
    width: 70vh;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}